#Laws {
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#Laws h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
}

.laws-images {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    gap: 20px;
    justify-content: start; 
    align-items: center;
    flex-wrap: nowrap; 
}

.image-container {
    flex: 0 0 auto; 
    width: 300px;
    height: 300px;
    display: flex;
    animation: slideImages 20s linear infinite;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

@keyframes slideImages {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-300px * 8)); } 
}

@media screen and (max-width: 1200px) {
    .laws-images {
        height: auto;
        flex-wrap: wrap;
    }

    .image-container {
        max-width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    #Laws h2 {
        font-size: 2rem;
    }

    .laws-images {
        gap: 10px;
        flex-wrap: nowrap; 
    }

    .image-container {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    @keyframes slideImages {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 8)); }
    }
}

@media screen and (max-width: 480px) {
    #Laws h2 {
        font-size: 1.5rem;
    }

    .laws-images {
        gap: 10px;
        flex-wrap: nowrap; 
    }

    .image-container {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    @keyframes slideImages {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-200px * 8)); }
    }
}
